<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<div th:fragment="layout-sidebar">

	<h2>CHARACTER</h2>
	<ul>
		<li><a th:href="@{/character}">PROFILE</a></li>
		<li><a th:href="@{/character/correlation}">CORRELATION</a></li>
		<li><a th:href="@{/character/rank_experience}">RANK EXPERIENCE</a></li>
	</ul>
	<h2><a th:href="@{/unit}">UNIT</a></h2>
	<h2><a th:href="@{/member}">MEMBER</a></h2>
	<h2><a th:href="@{/event}">EVENT</a></h2>
	<h2><a th:href="@{/music}">MUSIC</a></h2>
	<h2>OTHER</h2>
	<ul>
		<li><a th:href="@{/erea_item}">EREA ITEM</a></li>
		<li><a th:href="@{/mypage}">MYPAGE</a></li>
	</ul>

</div>
</body>
</html>